<div class="container">
      <table class="table" >
        <tr class="table-header">
          <th>Ürün Adı</th>
          <th>Marka</th>
          <th>Renk</th>
          <th>Kategori</th>
          <th>Alt Kategori</th>
          <th>Fiyat</th>
          <th>Stok</th>
        </tr>
        <tr>  
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>
            <input class="add-input" #txtProductName type="text" placeholder="Ürün Adı Giriniz.."/>
          </td>
          <td>

            <button class="op-button" style="width: 110px;" >Ekle</button>
          </td>
        </tr>
      
        <tr *ngFor="let product of productDetails">
          <td>{{ product.productName }}</td>
          <td>{{ product.brandName }}</td>
          <td>{{ product.colorName }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.childCategoryName }}</td>
          <td>{{ product.unitPrice }}</td>
          <td>{{ product.quantity }}</td>
          <td> <button class="op-button">Sil</button>
          <button class="op-button">Güncelle</button></td>
        </tr>
      </table>
    

</div>