<div class="container">
  <table class="table">
        <tr class="table-row" >
          <th>Ürün Adı</th>
          <th>Marka</th>
          <th>Renk</th>
          <th>Kategori</th>
          <th>Alt Kategori</th>
          <th>Fiyat</th>
          <th>Stok</th>
        </tr>
        <tr *ngIf="addButton && !updateButton">  
          
          <td>
            <form [formGroup]="productAddForm">
              <mat-form-field>
                <mat-label>Ürün Adı Giriniz</mat-label>
                <input matInput formControlName="productName" [value]="" >
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productAddForm">
            <mat-form-field >
              <mat-label>Marka Seçiniz</mat-label>
              <mat-select formControlName="brandId" >
                <mat-option  *ngFor="let brand of brands" [value]="brand.id">
                  {{brand.brandName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productAddForm">
            <mat-form-field >
              <mat-label>Renk Seçiniz</mat-label>
              <mat-select formControlName="colorId" >
                <mat-option  *ngFor="let color of colors" [value]="color.id">
                  {{color.colorName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productAddForm">
            <mat-form-field >
              <mat-label>Kategori Seçiniz</mat-label>
              <mat-select   formControlName="categoryId"  >
                <mat-option  *ngFor="let category of categories"  [value]="category.id" (click)="getChCatBySelectedCategory(category.id)" >
                        {{category.categoryName}}
              </mat-option>
              </mat-select>
           </mat-form-field>
          </form>
          </td>
          <td>
            <form  [formGroup]="productAddForm" >
            <mat-form-field  >
              <mat-label>Alt Kategori Seçiniz</mat-label>
              <mat-select  formControlName="childCategoryId"  >
                <mat-option *ngFor="let childCat of childCats "  [value]="childCat.id"  >
                  
                    {{childCat.childCategoryName}}
                  
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productAddForm">
            <mat-form-field >
              <mat-label>Ürün Fiyatı Giriniz</mat-label>
              <input matInput formControlName="unitPrice" [value]="" >
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productAddForm">
            <mat-form-field >
              <mat-label>Ürün Adeti</mat-label>
              <input matInput formControlName="quantity" [value]="" >
            </mat-form-field>
          </form>
          </td>
          <td>
              <button class="op-button" [disabled]="!productAddForm.valid" (click)="add()"  style="width: 110px;"   >Ekle</button>

          </td>
        
        </tr>
        <tr  *ngIf="product && updateButton" >
          <td  >
            <form [formGroup]="productUpdateForm">
              <mat-form-field>
                <mat-label>Ürün Adı Giriniz</mat-label>
                <input matInput formControlName="productName" [(ngModel)]="product.productName">
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productUpdateForm">
            <mat-form-field >
              <mat-label>Marka Seçiniz</mat-label>
              <mat-select formControlName="brandId" [(ngModel)]="product.brandId" >
                <mat-option  *ngFor="let brand of brands" [value]="brand.id" >
                  {{brand.brandName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productUpdateForm">
            <mat-form-field >
              <mat-label>Renk Seçiniz</mat-label>
              <mat-select formControlName="colorId" [(ngModel)]="product.colorId" >
                <mat-option  *ngFor="let color of colors" [value]="color.id">
                  {{color.colorName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td >
            <form [formGroup]="productUpdateForm">
            <mat-form-field >
              <mat-label>Kategori Seçiniz</mat-label>
              <mat-select   formControlName="categoryId" [(ngModel)]="product.categoryId" >
                <mat-option  *ngFor="let category of categories"   [value]="category.id"   (click)="getChCatBySelectedCategory(category.id)" >
                        {{category.categoryName}}
              </mat-option>
              </mat-select>
           </mat-form-field>
          </form>
          </td>
          <td >
            <form [formGroup]="productUpdateForm">
            <mat-form-field  >
              <mat-label>Alt Kategori Seçiniz</mat-label>
              <mat-select  formControlName="childCategoryId"  [(ngModel)]="product.childCategoryId" >
                <mat-option *ngFor="let childCat of childCats "  [value]="childCat.id"  >
                  
                    {{childCat.childCategoryName}}
                  
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productUpdateForm">
            <mat-form-field >
              <mat-label>Ürün Fiyatı Giriniz</mat-label>
              <input matInput formControlName="unitPrice" [(ngModel)]="product.unitPrice" [value]="">
            </mat-form-field>
          </form>
          </td>
          <td>
            <form [formGroup]="productUpdateForm">
            <mat-form-field >
              <mat-label>Ürün Adeti</mat-label>
              <input matInput formControlName="quantity" [(ngModel)]="product.quantity" [value]="">
            </mat-form-field>
          </form>
          </td>
          <td>
              <button class="op-button"  (click)="update()"  style="width: 110px;"   >Güncelle</button>

          </td>
        </tr>
        
        <tr  *ngFor="let product of productDetails.reverse()"  >
        
          <td>{{ product.productName }}</td>
          <td>{{ product.brandName }}</td>
          <td>{{ product.colorName }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.childCategoryName }}</td>
          <td>{{ product.unitPrice | currency: "TRY":"₺":"1.2-2" }}</td>
          <td>{{ product.quantity }}</td>
          <td > <button class="op-button"    (click)="delete(product.productId)"  >Sil</button>
            <button class="op-button" (click)="updateScreen(product.productId)" >Güncelle</button></td>
        </tr>
     
      </table>
    

</div>