
.table{
    color: gray;
    border-style: outset;
    border-color: antiquewhite;
    .table-row{
        margin: 3px;
        font-size: 20px;
        color:antiquewhite;
    }
    .op-button{
        color: antiquewhite;
        font-size: 14px;
    }
}
.add-input{

    color:white;
}


