<div class="container" >
    <div class="col-md-12" >
        <mat-card>
            
            <form [formGroup]="productAddForm">
                
              <mat-form-field appearance="fill">
                <mat-label>Ürün Adı Giriniz</mat-label>
                <input matInput formControlName="productName"  [value]="">
              </mat-form-field>
              <br>

                  <mat-form-field appearance="fill">
                    <mat-label>Marka Seçiniz</mat-label>
                    <mat-select formControlName="brandId" >
                      <mat-option  *ngFor="let brand of brands" [value]="brand.id">
                        {{brand.brandName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>

                  <mat-form-field appearance="fill">
                    <mat-label>Renk Seçiniz</mat-label>
                    <mat-select formControlName="colorId" >
                      <mat-option  *ngFor="let color of colors" [value]="color.id">
                        {{color.colorName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  
                  <mat-form-field appearance="fill">
                    <mat-label>Kategori Seçiniz</mat-label>
                    <mat-select   formControlName="categoryId"  [(ngModel)]="currentCategoryId"  >
                      <mat-option  *ngFor="let category of categories"  [value]="category.id">
                              {{category.categoryName}}
                    </mat-option>
                    </mat-select>
                 </mat-form-field>
           
                  <br>
                  <mat-form-field appearance="fill" (click)="getChCatBySelectedCategory()">
                    <mat-label>Alt Kategori Seçiniz</mat-label>
                    <mat-select  formControlName="childCategoryId" >
                      <mat-option *ngFor="let childCat of childCats "  [value]="childCat.id"  >
                        
                          {{childCat.childCategoryName}}
                        
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <br>

                  <mat-form-field appearance="fill">
                    <mat-label>Ürün Fiyatı Giriniz</mat-label>
                    <input matInput formControlName="unitPrice"  [value]="">
                  </mat-form-field>
                  <br>

                  <mat-form-field appearance="fill">
                    <mat-label>Ürün Adeti</mat-label>
                    <input matInput formControlName="quantity"  [value]="">
                  </mat-form-field>
                  
                  <br>

                 
                  <button mat-raised-button color="accent" (click)="add()">Ekle</button>
       </form>
        </mat-card>
        
            
                
    </div>
</div>
  
