

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img class="navbar-brand" style="width:40px;height:40px;"src="../assets/image/logo.png"/>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="admin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  routerLink="">Anasayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="product">Ürünler</a>
              </li>
              
              <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Kategoriler</a>
                <div ngbDropdownMenu>
                  
                  <button type="button" ngbDropdownItem routerLink="product">Tüm Ürünler</button>
                  <button ngbDropdownItem *ngFor="let category of categories" type="button" routerLink="product/getbycategoryid?id={{category.id}}">
                    <div > {{category.categoryName}} </div>
                  </button>
                   
                                   
                </div>
              </li>
                
            <li ngbDropdown class="nav-item">
              <a href (click)="false" class="nav-link " ngbDropdownToggle>Sepet</a>
              <div ngbDropdownMenu>
                <button ngbDropdownItem>Ürün 1</button>
                <button ngbDropdownItem>Ürün 2</button>
                <button ngbDropdownItem>Ürün 3</button>
                <button ngbDropdownItem>Ürün 4</button>
                
              </div>
            </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" >Search</button>
            </form>
          </div>
        </div>
      </nav>
     
    <br>

    