.layout-container{

  width: 1642px ;
}

   .admin-nav-container {
    width: 100%;
    height: 750px;
    margin: 10px;
    border: 1px solid #555;
  }
  .admin-content-container{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: left;
    text-align: center;
    
  }