.example-card {
    max-width: 450px;
    margin-bottom: 8px;
  }
  .row{
      padding: 100px;
      gap: 20px;
  }
  strong{
      width: 80px;
      padding-right: 10px;
      float: left;
  }